.top-page {
	background-image: url('JTRPRight.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 1600px;
	color: black;
	padding: 20px;

}
html {
	background-color: grey;
}

