.top-page {
	background-image: url('Sebring2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	padding: 10px;

}
body {
	background-color: maroon;
}
main {
	background-color: red;
}

.about-us {
	background-color: black;
	color: white;
	border-color: maroon;
	align-self: right;
}








