.top-page {
	background-image: url('Sebring2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	padding: 10px;

}

body {
	background-color: maroon;
	font-size: 18px;
}

main {
	background-color: red;
}

.about-us {
	display: flex;
	justify-content: space-evenly;
	background-color: red;
}

.about-us > img {
	margin: 20px;
}

.about-us > div {
	background-color: black;
	color: white;
	width: 1000px;
	margin: 20px;
	text-align: center;
	line-height: 75px;
	font-size: 18px;
}

.visit {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	margin: auto;
	width: 2000px;
	height: 300px;
	color: white;
	font-size: 25px;
	text-align: center;
}

.visit-img {
	display: flex;
	justify-content: space-evenly;
	background-color: red;
	margin: auto;
	width: 2000px;
	height: 500px;
}

.series-img {
	display: flex;
	justify-content: space-evenly;
	background-color: red;
	margin: auto;
	width: 2000px;
	height: 500px;
}

.contact-us {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	margin: auto;
	width: 1000px;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
	border: 1px solid white;
}

.series {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	margin: auto;
	width: 2000px;
	height: 300px;
	color: white;
	font-size: 25px;
}

.victories {
	display: flex;
	justify-content: space-evenly;
	background-color: red;
}

.victories > img {
	margin: 10px;
}

.victories > div {
	background-color: black;
	color: white;
	width: 1000px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 18px;
}

nav {
	text-align: left;
}
nav a {
	text-decoration: none;
	font-weight:  bold;
}

ul {
	list-style-type: square;
}
table {
	border-collapse: separate; 
	border-spacing: 10px; 
	margin-left: auto;
	margin-right: auto;
}
th, td {
	padding: 8px; 
	border: 1px solid white;
	background: red;
}














